# dependencies
node_modules/

# build output
web/dist/

# agent-fox
.agent-fox/
.claude/worktrees/

# Go build output
bin/
af-hub
afc

# own stuff
hack/
prompts.md
stuff.md
docs/prd/proposals/*

# local test files and secrets
admin_token
**/config.toml
.env
/secrets/
